[Unit]
Description=Simple Steam profile checker bot
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=nobody
Group=nogroup
ExecStart=/usr/bin/stmbot

[Install]
WantedBy=multi-user.target
